<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CMP Category"
            id="uni-stuttgart.iaas.spi.cmprocess">
      </category>
      <view
            name="Context-based Manufacturing Process"
            icon="icons/sample.png"
            category="uni-stuttgart.iaas.spi.cmprocess"
            class="unistuttgart.iaas.spi.cmprocess.views.CMPView"
            id="unistuttgart.iaas.spi.cmprocess.views.CMPView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="unistuttgart.iaas.spi.cmprocess.views.CMPView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
